body {
 
}
.App{
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: url(./img/cyber3.jpg) !important;
  

}

.calculator{
  margin: 5px;
}
.display {
  outline: none;
  border: none;
  width: 310px;
  height: 100px;
  font-size: 2.5rem;
  font-weight: 100;
  padding: 2px 15px;
  text-align: right;
  color: white;
  background: #000;
  border-top-left-radius: 15px;
  border-top-right-radius: 10px;
}

button {
  width: 85px;
  height: 95px;
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
  border-top: 1px solid #666;
  border-left: none;
  border-bottom: none;
}

.digit-keys {
  background-color: #A6A6A6;
  border-right: 1px solid #666;
}

.fun-keys {
  background-color: #008037;
  border-right: 1px solid #666;
  color: #000
}

.operator-keys {
  color: #000;
  border-right: none;
  background-color: #03FA6E;
}

.digit-keys:hover {
  background-color: #d9d9d9;
}

.fun-keys:hover {
  background-color: #03FA6E;
}

.operator-keys:hover {
  background-color: #008037;
}
.bottom-right-corner{
  border-bottom-right-radius: 6px;
}
.bottom-left-corner{
  border-bottom-left-radius: 6px;
}